<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #ola{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    </style>
</head>
<body>
    {% extends 'base/base.html' %}
    {% block content %}
        <h1 id="ola">WELCOME</h1>
    {% endblock content %}
</body>
</html>
    
